<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>liste des idées</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th><th>Summary</th><th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p:${listideas}">
                <td th:text="${p.ideaId}"></td>
                <td th:text="${p.summary}"></td>
                <td th:text="${p.description}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>